<div id="<%= product.color %>" class="product grid_4">
	<div class="image_wrapper">
		<%= image_tag(product.image_path, :class =>"product_image")%>
	</div>
	<div class="text_wrapper">
		<%= product.color.capitalize %><br />
		<%= product.display_price %>
		<%= button_to("Add", line_items_path(:product_id => product), :class => "add" )%>
	</div>		
</div>