<div id="header">
	<div class="grid_2">
		<%= image_tag("http://placehold.it/150x75&text=Bübi Logo")%>
	</div>
	<div class="grid_14 omega">
		<ul id="nav" class="tabs">
			<li><%= link_to("Home", "/home") %></li>
			<li><%= link_to("Why Bübi?", "/why") %></li>
			<li><%= link_to("Care & Use", "/care") %></li>
			<li><%= link_to("FAQ", "/faq") %></li>
			<li><%= link_to("Testimonials", "/testimonials") %></li>
			<li><%= link_to("Inventor Bio", "/inventor") %></li>
			<li><%= link_to("Customize", "/customize") %></li>
		</ul>
	</div>
</div>
